@import "../common/breakpoints";
@import "../common/mixins";
@import "../common/theme";

.pagination {
  @include block(
          $type: flex,
          $theme: light,
          $padding: 0,
          $justify-content: center,
          $align-items: stretch,
          $align-content: stretch,
          $flex-direction: row
  );
  @include box-shadow();

  flex: 0 0 auto;
  user-select: none;
  transition-duration: 0.15s;
  z-index: 2;
  overflow: hidden auto;
  box-shadow:
          0 -1px 1px 0 rgba(0,0,0,0.05),
          0 2px 2px 0 rgba(0,0,0,0.3);

  @media (min-width: $breakpoint-tablet-sm) {
    flex-direction: column;
    justify-content: flex-start;
    width: 45px;
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.05);
  }
}
