@import "../common/theme";
@import "../common/mixins";

.schedule-day {
  user-select: none;
  background-color: lighten($color-background, 1.5);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;

  &--enable {
    @include box-shadow();

    cursor: pointer;
    font-weight: bold;
    color: $color-primary;
    background-color: $color-light;
  }

  &--available {
    color: $color-light;
    background-color: $color-primary;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
