@import "../common/theme";
@import "../common/mixins";

.button {
  & {
    cursor: pointer;
    user-select: none;
    outline: unset;
    border: unset;
    transition-duration: .3s;

    &:active {
      opacity: .9;
    }

    &:hover {
      @include box-shadow;
    }
  }

  &--add {
    $width: 44px;

    position: absolute;
    bottom: 1rem;
    right: .5rem;
    width: $width;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 500;
    line-height: $width;
    color: $color-light;
    background-color: $color-primary;
  }
}
