@import "../common/theme";
@import "../common/mixins";

.button {
  & {
    cursor: pointer;
    user-select: none;
    outline: unset;
    border: unset;
    transition-duration: .3s;

    &:active {
      opacity: .9;
    }

    &:hover {
      @include box-shadow;
    }
  }

  &--add {
    $width: 44px;

    opacity: .5;
    position: absolute;
    bottom: .5rem;
    right: 0;
    width: $width;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 500;
    line-height: $width;
    color: $color-light;
    background-color: $color-primary;

    &:hover {
      opacity: 1;
    }
  }

  &--edit,
  &--delete {
    margin-bottom: 5px;
    padding: 5px;
  }
}
