@import "../common/theme";
@import "../common/mixins";
@import "../common/breakpoints";


.search-filter {
  @include block(
          $type: flex,
          $theme: light,
          $flex-wrap: nowrap
  );

  @include box-shadow();

  &__text-filter {
    @include block(
            $type: flex,
            $flex-wrap: nowrap,
            $padding: 10px,
            $flex-direction: row-reverse
    );

    flex-grow: 1;
  }

  &__icon {
    transition-duration: 0.3s;
    fill: $color-text;
    max-width: 10px;
    max-height: 10px;
    padding-right: 10px;
    flex-shrink: 0;

    &--table,
    &--list {
      max-width: 16px;
      max-height: 12px;
      padding: 0 8px;
    }
  }

  &__input-radio {
    display: none;
  }

  &__label {
    cursor: pointer;
  }

  &__input-radio:checked + &__label svg {
    fill: $color-primary;
  }

  &__view-switch {
    padding: 10px;
    margin-left: auto;
  }

  &__input-search {
    @include input();

    transition-duration: 0.3s;
    width: 240px;
    margin-right: auto;

    &:focus {
      flex-grow: 1;
    }
  }

  &__order-select {
    @include btn();
  }

  &__input-search:focus + &__icon,
  &__order-select:focus + &__icon {
    fill: $color-primary;
  }

  &__order-filter {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
  }
}