@import "../common/theme";
@import "../common/mixins";
@import "../common/breakpoints";

.forms {
  //&__tile {
  //  @include block(
  //          $theme: light,
  //          $padding: 10px,
  //          $text-align: center
  //  );
  //  @include box-shadow();
  //
  //  transition-duration: 0.3s;
  //  user-select: none;
  //  color: $color-primary;
  //  cursor: pointer;
  //
  //  &:active {
  //    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  //  }
  //}

  &__field {
    @include block(
            $type: grid,
            $grid-columns: 2, $padding: 0);

    margin: 0;

    @media (min-width: $breakpoint-tablet-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $breakpoint-tablet-md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $breakpoint-desktop-sm) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: $breakpoint-desktop-md) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: $breakpoint-desktop-lg) {
      grid-template-columns: repeat(7, 1fr);
    }

    @media (min-width: $breakpoint-desktop-xl) {
      grid-template-columns: repeat(9, 1fr);
    }
  }

  &__input {
    @include block($type: inline-block, $padding: 0 5px);
    @include input();

    &--date {
      @include date-picker();

      background-color: transparent;
      color: $color-primary;
      cursor: pointer;
      box-shadow: none;
    }
  }

  &__label-name {
    @include block(
            $type: inline-block,
            $padding: 5px);
  }

  &__label {
    padding: 5px;
    white-space: nowrap;
  }

  &__results {
    @include block(
            $type: grid,
            $grid-columns: 1, $padding: 0);

    @media (min-width: $breakpoint-tablet-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-tablet-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $breakpoint-desktop-sm) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $breakpoint-desktop-md) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: $breakpoint-desktop-lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: $breakpoint-desktop-xl) {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}