@import "../common/mixins";
@import "../common/theme";

.tabs {
  &__radio-input {
    display: none;
  }

  &__label-wrapper {
    @include block(
            $type: flex,
            $theme: light,
            $flex-wrap: nowrap
    );

    @include box-shadow();
  }

  &__label {
    flex: 1 1 0;
    user-select: none;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    text-align: center;
    color: $color-text;
    border-right: 1px solid transparent;
    background-color: $color-lightgray;

    &:hover {
      color: $color-primary;
    }

    &:not(:last-of-type) {
      border-right-color: $color-border-grey;
    }
  }

  #tab-1:checked ~ &__label-wrapper [for="tab-1"],
  #tab-2:checked ~ &__label-wrapper [for="tab-2"],
  #tab-3:checked ~ &__label-wrapper [for="tab-3"] {
    color: $color-primary;
    background-color: $color-light;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
  }

  .tabs__tab {
    display: none;
    padding-top: 10px;
  }

  #tab-1:checked ~ .tabs__tab--1,
  #tab-2:checked ~ .tabs__tab--2,
  #tab-3:checked ~ .tabs__tab--3 {
    display: block;
  }
}
