<table class="appointment u-mb-md">
    <tr>
        <td class="appointment__avatar" rowspan="2">
            ${require('../avatar/index.html')}
        </td>
        <td class="appointment__name">
            Jay Merriam Webster
        </td>
        <td class="appointment__time">19:00</td>
        <td class="appointment__phone">
            <a href="tel:+375291234567">
                <svg class='appointment__icon appointment__icon--phone'>
                    <use xlink:href="#phone"></use>
                </svg>
            </a>
        </td>
    </tr>
    <tr>
        <td class="appointment__category">
            ${require('../category-tag/index.html')}
        </td>
        <td class="appointment__date">10 junuary</td>

        <td class="appointment__cancel">
            <svg class='appointment__icon appointment__icon--cancel'>
                <use xlink:href="#close"></use>
            </svg>
        </td>
    </tr>
</table>