<section class="add-schedule u-mt-md u-mb-md">
    <h2 class="add-schedule__header">
        Pick the time of appointment
    </h2>
    <div class="add-schedule__presets add-schedule__presets--time">
        <input class="add-schedule__input-time" type="time">
        <input class="add-schedule__input-time" type="time">
        <input class="add-schedule__input-time" type="time">
        <button class="btn btn--success u-ml-a">
            Add one more
            <svg class='add-schedule__btn-icon add-schedule__btn-icon--plus'>
                <use xlink:href="#plus"></use>
            </svg>
        </button>
    </div>
    <div class="add-schedule__presets add-schedule__presets--time">
        <span>From
            <input class="add-schedule__input-date" type="date">
        </span>
        <span>till
            <input class="add-schedule__input-date" type="date">
        </span>
    </div>
    <div class="add-schedule__presets add-schedule__presets--days">
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" checked id="mon">
            <span class="add-schedule__day-name">mon</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" checked id="tue">
            <span class="add-schedule__day-name">tue</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" checked id="wed">
            <span class="add-schedule__day-name">wed</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" checked id="thu">
            <span class="add-schedule__day-name">thu</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" checked id="fri">
            <span class="add-schedule__day-name">fri</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" id="sat">
            <span class="add-schedule__day-name">sat</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
        <label class="add-schedule__day-label">
            <input class="add-schedule__day-input" type="checkbox" id="sun">
            <span class="add-schedule__day-name">sun</span>
            <span class="add-schedule__day-checkbox">
                <svg class='add-schedule__chekbox-icon'>
                    <use xlink:href="#checked"></use>
                </svg>
            </span>
        </label>
    </div>
    <div class="add-schedule__btns-wrapper">
        <button class="btn btn--danger">
            Cancel
            <svg class='add-schedule__btn-icon add-schedule__btn-icon--cancel'>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <button class="btn btn--success">
            Add to calendar
            <svg class='add-schedule__btn-icon add-schedule__btn-icon--plus'>
                <use xlink:href="#plus"></use>
            </svg>
        </button>
    </div>

</section>