@import "../common/theme";
@import "../common/mixins";

.add-schedule {
  @include block(
          $text-align: center,
          $theme: light,
          $padding: 10px
  );

  @include box-shadow();

  width: 100%;
  color: $color-text;
  box-sizing: border-box;

  &__header {
    @include block(
            $text-align: center
    );

    color: $color-text
  }

  &__btns-wrapper {
    @include block($type: flex, $padding: 20px 0 10px);
  }

  &__btn-icon {
    fill: $color-light;

    &--cancel {
      width: 8px;
      height: 8px;
    }

    &--plus {
      width: 10px;
      height: 10px;
    }
  }

  &__input-date,
  &__input-time {
    @include date-picker();

    padding: 5px;
    border: 1px solid $color-primary;
  }

  &__input-time {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__input-date {
    margin-bottom: 5px;

    &::-webkit-calendar-picker-indicator {
      margin-left: -10px;
    }
  }

  &__presets {
    padding: 10px 0;

    &--days {
      @include block(
              $type: flex,
              $flex-wrap: nowrap,
              $text-align: center
      )
    }
  }

  &__day-label {
    cursor: pointer;
    flex-grow: 1;
  }

  &__day-input {
    display: none;
  }

  &__day-name {
    transition-duration: 0.3s;
  }

  &__day-checkbox {
    transition-duration: 0.3s;
    display: block;
    margin: 5px auto;
    width: 10px;
    height: 10px;
    border: 1px solid $color-text;
  }

  &__chekbox-icon {
    width: 10px;
    height: 10px;
    fill: $color-primary;
    transition-duration: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  &__day-label:hover &__day-name {
    color: $color-primary;
  }

  &__day-label:hover &__day-checkbox {
    border-color: $color-primary;
  }

  &__day-input:checked ~ &__day-name {
    color: $color-primary;
  }

  &__day-input:checked ~ &__day-checkbox {
    border-color: $color-primary;
  }

  &__day-input:checked ~ &__day-checkbox &__chekbox-icon {
    visibility: visible;
    opacity: 1;
  }
}