@import "../common/mixins";
@import "../common/theme";

.contractor-card {
  @include block(
          $theme: light,
          $margin: 4px,
          $padding: 15px 10px
  );
  @include box-shadow();
  @include clearfix();

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__name {
    font-size: 1.5em;
    color: $color-primary;
    margin: 0;
    font-weight: 500;
    padding-bottom: 10px;
  }

  &__phone {
    @include clear-link();

    font-size: 1.2em;
    font-weight: 500;
    line-height: 2;
    color: $color-primary;
    white-space: nowrap;
    padding-bottom: 5px;
    display: block;

    &:hover {
      .contractor-card__link-icon {
        animation: svg-pulse 2s infinite;
      }
    }
  }

  &__phone-number {
    &:before {
      content: '+';
    }
  }

  & &__link {
    @include clear-link();

    margin-left: auto;
    margin-right: 0;

    &:hover {
      color: $color-light;
      background-color: $color-primary;
    }
  }

  &__link-icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: $color-primary;
    position: relative;
    top: 2px;
  }

  &__description {
    color: $color-text;
    text-align: justify;
    min-width: 200px;
    padding: 10px 0;
  }

  &__avatar-wrapper {
    float: left;
    padding-right: 10px;
  }

  &__separator {
    margin: 5px 0;
    border: none;
    background-color: $color-background-body;
    border-radius: 1px;
    height: 2px;
  }
}
