@import "../common/mixins";
@import "../common/theme";

.contractor-card {
  @include block(
          $theme: light,
          $margin: 4px,
          $padding: 15px 10px
  );
  @include box-shadow();
  @include clearfix();

  &__name {
    font-size: 1.5em;
    color: $color-primary;
    margin: 0;
    font-weight: 500;
  }

  &__phone {
   @include clear-link();

    padding-right: 30px;
    font-size: 1.2em;
    line-height: 2;
    color: $color-primary;
    white-space: nowrap;
    border-bottom: 1px solid $color-primary;
  }

  & &__link {
    @include clear-link();

    margin-left: auto;
    margin-right: 0;

    &:hover {
      color: $color-light;
      background-color: $color-primary;
    }
  }

  &__link-icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: $color-primary;
    position: relative;
    top: 2px;

    &:hover {
      animation: svg-pulse 2s infinite;
    }
  }

  &__description {
    color: $color-text;
    text-align: justify;
    min-width: 200px;
    padding: 10px 0;
  }

  &__avatar-wrapper,
  &__name,
  &__phone,
  &__category-tags-wrapper,
  &__description {
    padding-bottom: 10px;
  }

  &__avatar-wrapper {
    float: left;
    padding-right: 10px;
  }
}
