<table class="calendar">
    <thead class="calendar__thead">
    <tr>
        <th class="calendar__header" colspan="7">
            <div class="calendar__header-wrapper">
                <svg class='calendar__btn calendar__btn--left'>
                    <use xlink:href="#arrow-left"></use>
                </svg>
                <span class="calendar__month">January</span>
                <svg class='calendar__btn calendar__btn--active calendar__btn--right'>
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </th>
    </tr>
    <tr>
        <th class="calendar__th">mon</th>
        <th class="calendar__th">tue</th>
        <th class="calendar__th">wed</th>
        <th class="calendar__th">thu</th>
        <th class="calendar__th">fri</th>
        <th class="calendar__th">sat</th>
        <th class="calendar__th">sun</th>
    </tr>
    </thead>
    <tbody class="calendar__tbody">
    <tr>
        <td class="calendar__td">1</td>
        <td class="calendar__td calendar__td--enable">2</td>
        <td class="calendar__td">3</td>
        <td class="calendar__td calendar__td--enable">4</td>
        <td class="calendar__td">5</td>
        <td class="calendar__td calendar__td--enable">6</td>
        <td class="calendar__td">7</td>
    </tr>
    <tr>
        <td class="calendar__td calendar__td--enable">8</td>
        <td class="calendar__td">9</td>
        <td class="calendar__td calendar__td--enable">10</td>
        <td class="calendar__td">11</td>
        <td class="calendar__td">12</td>
        <td class="calendar__td calendar__td--enable">13</td>
        <td class="calendar__td calendar__td--enable calendar__td--active">14</td>
    </tr>
    <tr>
        <td class="calendar__td">15</td>
        <td class="calendar__td calendar__td--enable">16</td>
        <td class="calendar__td">17</td>
        <td class="calendar__td">18</td>
        <td class="calendar__td calendar__td--enable">19</td>
        <td class="calendar__td">20</td>
        <td class="calendar__td">21</td>
    </tr>
    <tr>
        <td class="calendar__td">22</td>
        <td class="calendar__td calendar__td--enable">23</td>
        <td class="calendar__td calendar__td--enable">24</td>
        <td class="calendar__td calendar__td--enable">25</td>
        <td class="calendar__td">26</td>
        <td class="calendar__td">27</td>
        <td class="calendar__td">28</td>
    </tr>
    <tr>
        <td class="calendar__td">29</td>
        <td class="calendar__td">30</td>
        <td class="calendar__td">31</td>
    </tr>
    </tbody>
</table>