<section class="time-list u-mt-md u-mb-md">
    <h2 class="time-list__header">
        Choose time
    </h2>
    <div class="time-list__item-wrapper">
        <span class="time-list__item">9:00</span>
        <span class="time-list__item time-list__item--enable">10:30</span>
        <span class="time-list__item">12:00</span>
        <span class="time-list__item">13:30</span>
        <span class="time-list__item time-list__item--enable">15:00</span>
        <span class="time-list__item">16:30</span>
        <span class="time-list__item">17:30</span>
    </div>
    <div class="time-list__btns-wrapper">
        <button class="btn btn--danger u-mx-0">
            Cancel time
            <svg class='time-list__btn-icon time-list__btn-icon--cancel'>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <button class="btn btn--success u-mx-0">
            Add new
            <svg class='time-list__btn-icon time-list__btn-icon--plus'>
                <use xlink:href="#plus"></use>
            </svg>
        </button>
    </div>

</section>