<section class="filter-date u-mb-lg">
    <label class="filter-date__label">
        <span class="filter-date__label-name">Select time from</span>
        <input class="filter-date__input form__input--date" type="datetime-local" id="startDate">
    </label>

    <label class="filter-date__label">
        <span class="filter-date__label-name">till</span>
        <input class="filter-date__input form__input--date" type="datetime-local" id="endDate">
    </label>

    <button class="btn u-ml-a" type="button">
        Search!
        <svg class='btn__icon'>
            <use xlink:href="#arrow-right"></use>
        </svg>
    </button>
</section>
