@import "../common/mixins";

.filter-date {
  @include block(
          $type: flex,
          $justify-content: center,
          $align-items: baseline,
          $theme: light,
          $padding: 10px);
  @include box-shadow();

  &__label {
    padding: 5px;
    text-align: center;
  }

  &__label-name {
    @include block(
            $type: inline-block,
            $padding: 5px
    );
  }

  &__input {
    @include block($type: inline-block, $padding: 0 5px);
    @include input();
    @include date-picker();

    background-color: transparent;
    color: $color-primary;
    cursor: pointer;
    box-shadow: none;
  }
}