@import "../common/mixins";
@import "../common/theme";

.header {
  @include block(
          $theme: dark,
          $type: flex,
          $padding: 0 10px
  );
  @include box-shadow();

  position: relative;
  flex: 0 0 auto;
  color: $color-light;
  padding: 10px;
}
