<section class="time-list u-mt-md u-mb-md">
    <h2 class="time-list__header">
        Choose time
    </h2>
    <div class="time-list__item-wrapper">
        <span class="time-list__item">9:00</span>
        <span class="time-list__item time-list__item--enable">10:30</span>
        <span class="time-list__item">12:00</span>
        <span class="time-list__item">13:30</span>
        <span class="time-list__item time-list__item--enable">15:00</span>
        <span class="time-list__item">16:30</span>
        <span class="time-list__item">17:30</span>
    </div>
    <button class="btn btn--success u-ml-a u-mt-lg">Book time!</button>
</section>