@import "../common/mixins";

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  box-shadow:
          0 0 2px 2px $color-border-grey,
          0 0 0 1px $color-light;

  @media (min-width: $breakpoint-tablet-sm) {
    width: 150px;
    height: 150px;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &--label {
    cursor: pointer;
    width: 100px;
    height: 100px;

    &:hover {
      animation: shadow-pulse 2s infinite;
    }

    &__input {
      display: none;
    }
  }

  &--big {
    width: 80px;
    height: 80px;
  }
}
