<article class="contractor-card">
    <div class="contractor-card__avatar-wrapper">
        ${require('../avatar/avatar--big/index.html')}
    </div>
    <h1 class="contractor-card__name">
        Name Lastname
    </h1>
    <a class="contractor-card__phone" href="tel:+375291234567">
        <svg class='contractor-card__link-icon'>
            <use xlink:href="#phone"></use>
        </svg>
        +375291234567
    </a>
    <div class="contractor-card__category-tags-wrapper">
        <span class="contractor-card__category">Category</span>
        <span class="contractor-card__category">Category</span>
        <span class="contractor-card__category">Category</span>
        <span class="contractor-card__category">Category</span>
    </div>
    <div class="contractor-card__description">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <a class="btn u-mx-a"
       href="./contractor-calendar.html">
        Show calendar
    </a>
</article>