<form class="contractor-form u-mb-lg" autocomplete="on">
    <div class="contractor-form__avatar-wrapper">
        ${require('../avatar/avatar--label/index.html')}
    </div>
    <label class="contractor-form__label">
        Your name:
        <input class="contractor-form__name" placeholder="My name is ..." type="text">
    </label>

    <label class="contractor-form__label">Your phone number:
       <input class="contractor-form__phone" placeholder="+375291234567" type="tel">
    </label>

    <div class="contractor-form__category-tags-wrapper">
        ${require('../category-tag/category-tag--removable/index.html')}
        ${require('../category-tag/category-tag--removable/index.html')}
        ${require('../category-tag/category-tag--removable/index.html')}
    </div>
    <div class="contractor-form__category-select-wrapper">
        <select class="category-tag contractor-form__category-select" id="contractorCategory">
            <option selected disabled>Add new</option>
            <optgroup label="Category">
                <option value="subcategory1">subcategory1</option>
                <option value="subcategory2">subcategory2</option>
                <option value="subcategory3">subcategory3</option>
            </optgroup>
            <optgroup label="Category">
                <option value="subcategory1">subcategory1</option>
                <option value="subcategory2">subcategory2</option>
                <option value="subcategory3">subcategory3</option>
            </optgroup>
        </select>
        <button class="contractor-form__category-select-btn">
            <svg class='contractor-form__category-select-icon'>
                <use xlink:href="#plus"></use>
            </svg>
        </button>
    </div>
    <div class="contractor-form__category-select-wrapper">
        <select class="category-tag contractor-form__category-select" id="contractorCountry">
            <option selected disabled>Your country</option>
            <option value="subcategory1">Belarus</option>
            <option value="subcategory2">Russia</option>
            <option value="subcategory3">Ukrain</option>
        </select>
    </div>
    <div class="contractor-form__category-select-wrapper">
        <select class="category-tag contractor-form__category-select" id="contractorCity">
            <option selected disabled>Your city or suburban area</option>
            <option value="Minsk">Minsk</option>
            <option value="subcategory2">Brest</option>
            <option value="subcategory3">Grodno</option>
            <option value="subcategory1">Logoisk</option>
            <option value="subcategory1">Logoisk</option>
            <option value="subcategory1">Logoisk</option>
            <option value="subcategory1">Logoisk</option>
        </select>
    </div>
    <div class="contractor-form__category-select-wrapper">
        <input class="category-tag contractor-form__category-select" type="text" id="contractorAddress"
               placeholder="Your address">
    </div>
    <textarea class="contractor-form__description" rows="4" placeholder="Tell about you"></textarea>
    <div class="contractor-form__btns-wrapper">
        <button class="btn btn--default" type="reset">Reset</button>
        <button class="btn btn--success" type="submit">Apply</button>
    </div>
</form>