@import "../common/mixins";
@import "../common/theme";

.contractor-form {
  @include block(
          $theme: light,
          $padding: 10px
  );

  @include box-shadow();

  text-align: left;

  &__avatar-wrapper {
    padding-right: 10px;
    margin: auto;
    display: inline-block;
    float: left;
  }

  &__name,
  &__phone {
    @include input();

    width: 140px;
    transition-duration: 0.3s;
    margin-left: 10px;

    &:focus {
      flex-grow: 1;
    }
  }


  &__name {
    color: $color-primary;
  }

  &__label {
    @include block(
            $type: flex,
            $justify-content: flex-start
    );

    padding-bottom: 10px;

    font-weight: 500;
  }

  &__description {
    @include input();

    padding: 10px;
    margin: 10px 0;
    color: $color-text;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  &__category-tags-wrapper {
    @include flex-grid(
            $last-line-grow: 100
    );

    position: relative;
    padding: 10px 0;
    left: -4px;
  }

  &__btns-wrapper {
    @include block(
            $type: flex,
            $padding: 10px 0 0);
  }

  &__category-select {
    @include input();

    border: none;
    flex-grow: 1;
    margin-bottom: 0;
  }

  &__category-select-wrapper {
    padding: 10px 0;
    display: flex;
  }

  &__category-select-btn {
    @include btn();

    border: none;
  }

  &__category-select-icon {
    width: 16px;
    height: 16px;
    fill: $color-primary;
  }
}